<%-
  has_position = attributes.map(&:column_name).include?('position')
  form_attributes = attributes.reject(&:password_digest?).reject {|a| a.column_name == 'position'}
-%>
<div class="row button-bar" >
    <div class="col-lg-12">
      <%%= btn_link_to 'Nový záznam', new_<%= prefixed_plain_model_url %>_path, icon: 'plus', size: 'lg' %>
    </div>
</div>

<div class="page-header">
  <h1>Seznam <%= plural_table_name %></h1>
</div>

<table class="table table-striped <%= 'sortable-table' if has_position %>" <%= "data-sort-url='<%= sort_#{prefixed_index_helper}_path %%>'" if has_position %>>
  <thead>
    <tr>
      <%- if has_position -%>
      <th></th>
      <%- end -%>
<% form_attributes.each do |attribute| -%>
      <th><%= attribute.human_name %></th>
<% end -%>
      <th></th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <%% @<%= plural_table_name %>.each do |<%= singular_table_name %>| %>
      <tr data-id="<%%= <%= singular_table_name %>.id %>">
        <%- if has_position -%>
        <td><%%= icon_tag 'bars' %></th>
        <%- end -%>
<% form_attributes.each do |attribute| -%>
        <%- case attribute.type
            when :boolean -%>
        <td><%%= yes_no_icon <%= singular_table_name %>.<%= attribute.name %> %></td>
        <%- else -%>
        <td><%%= <%= singular_table_name %>.<%= attribute.name %> %></td>
        <%- end -%>
<% end -%>
        <td><%%= link_to 'Edit', edit_<%= prefixed_plain_model_url %>_path(<%= singular_table_name %>), class: 'btn btn-default btn-xs' %></td>
        <td><%%= link_to 'Destroy', <%= "[:#{prefix}, #{singular_table_name}]" %>, method: :delete, data: { confirm: 'Are you sure?' }, class: 'btn btn-xs btn-danger' %></td>
      </tr>
    <%% end %>
  </tbody>
</table>

<br>


