<p id="notice"><%%= notice %></p>

<% attributes.reject(&:password_digest?).each do |attribute| -%>
<dl class="dl-horizontal">
  <dt><strong><%= attribute.human_name %>:</strong></dt>
  <dd><%%= @<%= singular_table_name %>.<%= attribute.name %> %></dd>
</dl>

<% end -%>
<%%= link_to 'Editace', edit_<%= prefixed_plain_model_url %>_path(@<%= singular_table_name %>), class: 'btn btn-default' %>
<%%= link_to 'Zpět', <%= prefixed_index_helper %>_path, class: 'btn btn-default' %>
